# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Packages
.build/

# CocoaPods
Pods/

# SwiftPM
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
