<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>fr</string>
		<string>en</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>StopPhone detects your speed to block certain apps while driving.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>StopPhone monitors your speed in the background to automatically activate blocking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StopPhone measures your speed to block certain apps while you are driving.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stopphone</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.stopphone.url</string>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
